<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nina {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
</head>

<body>
  <main>
    {% block content %} {% endblock %}
  </main>
</body>

</html>