{% extends "base.html" %}

{% block title %}Index {% endblock %}

{% block content %}
<div>
  <h3>Items</h3>
  {% for item in items.list %}
  <a href="{{ item.id }}">
    <h5>{{ item.name }}</h5>
    <p>{{ item.description }}</p>
  </a>
  {% endfor %}
  </ul>
</div>
<div>
  <h3> Add a new item </h3>
  <form method="POST">
    <label for="name">Name of new Item:</label>
    <input type="text" name="name" id="name">
    <label for="description">Description of new Item:</label>
    <input type="text" name="description" id="description">
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}