{% extends "base.html" %}

{% block title %} Nina - {{ item.name }} {% endblock %}

{% block content %}

<h2> {{ item.name }} </h2>
<p> {{ item.description }} </p>

<button id="delete-button">Delete</button>

<script>
  const deleteButton = document.getElementById("delete-button");

  deleteButton.addEventListener("click", function () {
    fetch("/{{ item.id }}", {method: "DELETE"}).then(
      function () {
        window.location.href = "/items";
      }
    )
  });

</script>

{% endblock %}